<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>FB Api Demo</title>

	<!-- hot css for loading-->
	<style>
		body:not(.loaded) .loader {
			z-index: 2;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background: #ccc;

			display: flex;
			align-items: center;
			justify-content: space-around;
			font-size: 2em;
			color: #ab113d;
		}
	</style>

</head>
<body data-ng-controller="layoutController as layoutCtrl"
			data-ng-class="{'loaded': layoutCtrl.loaded}">

<div class="loader">
	<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
</div>

<div class="main-container">
	<header data-ng-if="layoutCtrl.isSigned()">
		<div class="logo">
			<img src="content/monterosa_logo.png">
		</div>
		<nav>
			<ul>
				<li data-ng-repeat="link in layoutCtrl.navigation">
					<a title="{{link.sref}}"
						 data-ui-sref="{{link.sref}}"
						 data-ng-class="{'active': layoutCtrl.processClass(link.sref)}">
						<i class="fa fa-{{link.fontClass}}" aria-hidden="true"></i>
					</a>
				</li>
			</ul>
		</nav>
	</header>

	<section>
		<div ui-view></div>
	</section>
</div>

</body>
<!-- js libs -->
<script type="text/javascript" src="libs/angular.min.js"></script>
<script type="text/javascript" src="libs/angular-ui-router.min.js"></script>
<script src="//connect.facebook.net/en_US/sdk.js"></script>
<!--<script src="libs/moment.min.js"></script>-->

<!-- script -->
<script type="text/javascript" src="app/app.js"></script>

<!-- config -->
<script type="text/javascript" src="app/config/appConfig.js"></script>

<!-- controllers -->
<script type="text/javascript" src="app/layout/layoutController.js"></script>
<script type="text/javascript" src="app/login/loginController.js"></script>

<!-- services -->
<script type="text/javascript" src="app/services/facebookService.js"></script>


<!-- css -->
<link rel="stylesheet" href="styles/reset.css">
<link rel="stylesheet" href="styles/layout.css">
<link rel="stylesheet" href="styles/login.css">
<link rel="stylesheet" href="styles/header.css">
<link rel="stylesheet" href="styles/buttons.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

</html>