<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>todo list example</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/mainPageController.js"></script>
    <script src="app/mainPageService.js"></script>
    <script src="libs/moment.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="content/site.css">

    <base href="/">
</head>
<body ng-controller="mainPageController as mainCtrl">
<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active">
                    <a href="https://github.com/DimaVanin/dimavanin.github.io" target="_blank">View gitHub</a>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">toDo list</h3>
    </div>
    <div class="jumbotron">
        <h1>It's test task</h1>

        <p>Я использовал Angular & jQuery
        </p>

        <div>
            <button class="btn btn-default"
                    ng-class="{'btn-success':mainCtrl.angActive}"
                    ng-click="mainCtrl.viewAngular()">
                View Angular result
            </button>
            <button class="btn btn-default"
                    ng-class="{'btn-success':mainCtrl.jQueryActive}"
                    ng-click="mainCtrl.viewJQuery()">
                View jQuery result
            </button>
        </div>
    </div>
    <div ng-show="mainCtrl.angActive">
        <div ng-show="!mainCtrl.itemLoaded"><h2><i class="fa fa-spinner fa-pulse"></i> Loading...</h2></div>
        <div ng-show="mainCtrl.itemLoaded">
            <div class="jumbotron"
                 ng-repeat="type in mainCtrl.typeList | orderBy:'id'">
                <a ng-click="showDetails=!showDetails">
                    {{type.name}}
                </a>

                <div ng-show="showDetails"
                     ng-repeat="task in mainCtrl.taskList | filter:{ type: type.id }">
                    <div>
                        <input type="checkbox"
                               ng-model="task.done"
                               ng-checked="task.done"
                               ng-disabled="task.done">
                        {{task.task}}
                        <br>
                        expires_at: {{mainCtrl.parseData(task.expires_at)}}
                        <br>
                        created_at: {{mainCtrl.parseData(task.created_at)}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron" ng-show="mainCtrl.jQueryActive">

    </div>
</div>
</body>
</html>

