* {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

body {
  background: #c7fad6;

}

.main-container {
  padding: 50px 20px;
}

.frame-wrapper {
  height: 380px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.frame-wrapper iframe {
  display: block;
  margin: 0 auto;
  height: calc(100% + 1px);
  width: 100%;
}

