

body {
  background: #c7fad6;
}

.wrapper {
  position: absolute;
  top: 25px;
  left: 15px;
  right: 15px;
  bottom: 25px;

  display: block;
  overflow-y: scroll;
  background: #b5f7fa;

  -webkit-overflow-scrolling: touch;
}

.scrollable {
  position: relative;
}

.content {
  min-height: 500px;
  margin: 15px;
  padding: 15px;
  background: #dcb65d;
}

.progress-bar {
  background: #ffffff;
  margin: 25px;
  height: 25px;
}

.progress {
  background: #000000;
  width: 0%;
  height: 100%;

  -moz-transition: width 1s linear;
  -o-transition: width 1s linear;
  -webkit-transition: width 1s linear;
  transition: width 1s linear;
}

/*.frame-wrapper iframe {*/
  /*display: block;*/
  /*margin: 20px auto;*/
  /*max-width: 520px;*/
  /*min-width: 280px;*/
/*}*/

/*.frame-wrapper {*/
  /*padding: 0 20px;*/
/*}*/

/*.buttons-block {*/
  /*margin: 20px ;*/
/*}*/

/*.buttons-block .button button{*/
  /*display: block;*/
  /*margin: 5px auto;*/
/*}*/