<section>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="img_container">
                <div data-ng-style="{'background-image':'url(' + userInfoCtrl.user.photoUrl + ')'}">
                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-horizontal">
                <div data-ng-repeat="(key, value) in userInfoCtrl.user" class="form-group">
                    <div class="col-md-4 col-sm-4 col-xs-6 control-label">{{key}}:</div>
                    <div class="col-md-4 col-sm-6 col-xs-6">
                        <input class="form-control" type="text" disabled data-ng-model="value">
                    </div>
                    <div class="col-md-4 col-sm-2 hidden-xs"></div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</section>