<section class="main_section user_info">
	<div class="row">
		<div class="form-horizontal">
			<div class="form-group">
				<div class="col-md-6 col-sm-6 col-xs-6 control-label">User Score:</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<input class="form-control" type="text" disabled data-ng-model="userScoreCtrl.user.score">
				</div>
			</div>

			<div class="col-md-12 offset"></div>

			<div class="col-md-3 col-sm-3 hidden-xs"></div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<button class="btn btn-success btn-full" data-ng-click="userScoreCtrl.setScores()">Set score</button>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<input class="form-control"
							 type="number"
							 min="0"
							 max="999"
							 data-ng-model="userScoreCtrl.scores">
			</div>
			<div class="col-md-3 col-sm-3 hidden-xs"></div>
		</div>
	</div>
</section>