.btn {
  /*display: inline-block;*/
  padding: 15px 25px;
  font-size: 1.5em;
  border-radius: 2px;
  cursor: pointer;
}

.btn-default {
  background: #ccc;
  color: #fff;
}

.btn-facebook {
  max-width: 250px;
  background: #3b5998;
  color: #fff;
  transition: all ease-out .2s;
}

.btn-facebook:hover {
  background: #2d4b98;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
}