header {
  position: fixed;
  top: 5vh;
  right: 0;
  left: 0;
  /*width: 100%;*/
  max-width: 600px;
  margin: 0 auto;
  height: 15vh;
  /*background: white;*/

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

header .logo {
  width: 20%;
  padding: 2em 3em;
}

header .logo img {
  position: relative;
  width: 100%;
}

header nav {
  width: 80%;
  position: relative;
}

header nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;

  font-size: 2em;
}

header nav ul a {
  cursor: pointer;
  transition: all ease-out .2s;
  color: #000;
}

header nav ul a.active {
  color: #ab113d;
}

header nav ul a:hover {
  color: #cc1144;
}

