<section class="main_section user_info">
	<div class="container">
		<div class="row">
			<div class="col-md-6 title">User Score:</div>
			<div class="col-md-6">{{mainCtrl.user.score}}</div>
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<button class="btn btn-success" data-ng-click="mainCtrl.setScore()">Set score</button>
			</div>
			<div class="col-md-4">
				<input class="form-control" type="number" data-ng-model="mainCtrl.scores">
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</section>